.bg-red{
    background-color: #D7361A;
    opacity: 95%;
}

.text-black{
    color: rgb(14, 13, 13);
}

.fs-54{
    font-size: 52pt;
}

.fs-17{
    font-size: 17pt;
}

.btn-green {
   color: #111111;
   background-color: #90D200;
}

.btn-outline-dark:hover{
    color: #111111;
    background-color: #90D200;

}

/* .imagem{
    background-image: url(https://imgur.com/wKQi7iw);
    position: absolute;
    align-items: center;
    text-align: center;
} */