<footer class="page-footer font-small bg-blue pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes socias</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/vinicius-martins-713289125/" target="_blank" class="icon-linkedin"> <i class="fa fa-linkedin-square cor-linkedin" aria-hidden="true"></i> 
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/viniciusmartins21" target="_blank" class="icon-github"> <i class="fa fa-github cor-git" aria-hidden="true"></i> 
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="foote-copyright bg-blue text-center py-3">
        <span class="text-black"> &copy; 2021 Copyright: </span>
        <a class="text-black" target="_blank" href="https://www.linkedin.com/in/vinicius-martins-713289125/">Linkedin Vinicius Martins </a>
    </div>

</footer>
